.closed-job {
    color: #d50000 !important;
}

.in-progress-job {
    color: forestgreen !important;
}

.clickable-arrow {
    color: black;
}

.clickable-arrow:hover {
    cursor: pointer;
}

.unclickable-arrow {
    color: lightgray;
}