body {
    background-image: url("./images/car-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #393a39;
}

p {
    margin-bottom: 4px;
}

.page-title {
    padding-left: 25px;
}

.error {
    color: #d50000;
}

table {
    --bs-table-bg: transparent !important;
}

tbody>tr:hover {
    cursor: pointer;
}

td, th {
    white-space: pre-line;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.5em;
    max-height: 3em;    /* max-height double the line-height, so only two lines shown before wrapping text */
    width: fit-content;
    max-width: 8vw;
}

.table-selected-row {
    background-color: #cccccc;
}

.form-floating>label {
    color: #595959;
}

.form-control:disabled {
    background-color: rgba(204, 204, 204, 0.3);
}

.form-floating>.form-control:disabled~label::after,
.form-floating>:disabled~label::after {
    background-color: transparent;
}

.input-group-button {
    max-height: initial;
}

/* Glossy classes */

.glossy-background {
    margin: 10px;
    padding: 20px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 3px solid rgba(255, 255, 255, 0.3);
}

.glossy-background.smaller {
    padding: 5px;
}

.glossy-error-background {
    margin: 10px;
    padding: 20px;
    /* From https://css.glass */
    background: rgba(213, 0, 0, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(213, 0, 0, 0.3);
}

.modal-content {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 3px solid rgba(255, 255, 255, 0.3);
}

.glossy-button {
    padding: 10px 30px;
    color: rgba(57, 58, 57, 0.8);
    /* From https://css.glass */
    background: rgba(165, 165, 165, 0.33);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 2px solid rgba(165, 165, 165, 0.6);
}

.glossy-button:hover,
.glossy-button:active,
.glossy-button:focus-visible {
    color: #393a39 !important;
    /* From https://css.glass */
    background: rgba(165, 165, 165, 0.33) !important;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 2px solid rgba(89, 89, 89, 0.6) !important;
}

.light-glossy-button {
    color: #595959;
    max-height: min-content;
    /* From https://css.glass */
    background: rgba(165, 165, 165, 0.15);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(89, 89, 89, 0.6);
}

.light-glossy-button:hover,
.light-glossy-button:active,
.light-glossy-button:focus-visible,
.light-glossy-button:active:focus {
    color: #393a39 !important;
    /* From https://css.glass */
    background: rgba(165, 165, 165, 0.33) !important;
    border: 1px solid rgba(89, 89, 89, 0.6) !important;
}