table {
    --bs-table-bg: transparent !important;
}

tbody>tr:hover {
    cursor: pointer;
}

.new-user-button {
    width: 100%;
    margin: 10px 10px 15px;
}

.selected-user {
    background-color: #cccccc;
}