.navbar {
    height: 84px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    box-shadow: 0 10px 25px rgba(153, 153, 153, 0.6);
}

.navbar-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-row {
    width: 100vw;
}

.text {
    padding-left: 20px;
    font-size: 130%;
}

.brand-image {
    max-height: 60px;
}

.brand-image:hover {
    cursor: pointer;
}