/* Extra hours */
.company-worked-hours-table > tbody > tr > td > div:nth-child(3) {
    color: #e11212;
}

/* Holiday hours */
.company-worked-hours-table > tbody > tr > td > div:nth-child(4) {
    color: goldenrod;
}

/* Sick hours */
.company-worked-hours-table > tbody > tr > td > div:nth-child(5) {
    color: dodgerblue;
}

/* Donation hours */
.company-worked-hours-table > tbody > tr > td > div:nth-child(6) {
    color: darkred;
}

/* Furlough hours */
.company-worked-hours-table > tbody > tr > td > div:nth-child(7) {
    color: #336600;
}

/* Bereavement hours */
.company-worked-hours-table > tbody > tr > td > div:nth-child(8) {
    color: #393a39;
}

/* Paternity leave hours */
.company-worked-hours-table > tbody > tr > td > div:nth-child(9) {
    color: royalblue;
}

/* Travel hours */
.company-worked-hours-table > tbody > tr > td > div:nth-child(10) {
    color: darkorange;
}

/* Expenses */
.company-worked-hours-table > tbody > tr > td > div:nth-child(11) {
    color: rebeccapurple;
}

/* Kilometres */
.company-worked-hours-table > tbody > tr > td > div:nth-child(12) {
    color: cadetblue;
}

.clickable:hover {
    cursor: pointer;
    color: var(--accent-color);
}